/* IMPORTS */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* UTILLITIES */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
  font-family: "Open Sans", sans-serif;
}

p,
a,
ul {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
}

.greyBackground{
  margin-top: 75px;
  padding-bottom: 75px;
  background-color: #333;
  align-items: center;
}

/* HEADER START */
nav {
  padding: 10px 20px;
}

header {
  background-color: darkorange;
  padding: 10px;
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  position: fixed;
  z-index: 3;
}

.header-ul {
  list-style: none; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  gap: 50px; 
  margin: 0;
  padding: 0;
  position: relative; 
}

.header-ul li {
  position: relative; 
}

.header-ul li a {
  text-decoration: none;
  color: white;
}

.header-ul li a:hover {
  color: #ff4d4d;
}

.active:after {
  content: "";
  width: 60px;
  height: 5px;
  background: #333;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
/* HEADER SLUT */

/* INTRO SEKTION */
.intro {
    display: flex;
    gap: 50px;
}

.intro h1 {
    margin: 0;
    margin-top: 105px;
}

.intro h3 {
    margin: 0;
    font-weight: lighter;
}

.billedeAfMig {
    margin-top: 105px;
    height: 400px;
    width: 500px;
    border-radius: 0px 20px 20px 0px;
}

.lokation,
.ledighed {
    display: flex;
    gap: 10px;
}

.lokation img,
.ledighed img{
    width: 22px;
    height: 23px;
}

.lokation {
    margin-top: 50px;
}

.kompetencer h2{
    margin-top: 50px;
}
/* INTRO SEKTION SLUT */

/* LIDT OM MIG SEKTION START */
.lidtOmMig-section {
  color: white;
  padding: 40px;
  margin-top: 75px;  
}

.lidtOmMig-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px; 
  max-width: 800px; 
  margin: 0 auto; 
}

.lidtOmMig-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.lidtOmMig-container p {
  line-height: 1.6;
}
/* LIDT OM MIG SEKTION SLUT */

/* FEP FORSIDE SEKTION START */
.fep{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.projekter {
  background-image: url(../img/migVedPc.png);
  border-radius: 200px;
  height: 400px;
  width: 400px;
  background-size: cover;
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
  margin-top: 75px;
}

.spoergsmaal{
  background-image: url(../img/handAndPhone.png);
  border-radius: 200px;
  height: 400px;
  width: 400px;
  background-size: cover;
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
  margin-top: 75px;
}

.projekter::before,
.spoergsmaal::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.projekter p, .spoergsmaal p {
  z-index: 2;
}

.fep .button {
  margin-top: 20px; 
  background-color: #ff4d4d; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 10px; 
  cursor: pointer;
  z-index: 2;
  text-decoration: none; 
}

.fep .button:hover{
  background-color: #ff1a1a; 
  transform: scale(1.2);
}
/* FEP FORSIDE SEKTION SLUT */

/* KONTAKT SIDE STAR */
.hero{
  height: 75vh;
  width: 100%;
}

.kontaktMig {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 800px; 
  margin: 0 auto;
  gap: 20px; 
}

.kontaktMig h1 {
  font-size: 32px;
  margin: 0;
  margin-top: 25px;
}

.kontaktMig h3 {
  margin: 25px 0 0 0;
}

.kontaktMig p {
  max-width: 60ch;
}

.kontaktMig span{
  font-weight: bold;
}

.kontaktMig ul li{
  padding: 10px;
}
/* KONTAKT SIDE SLUT */

/* PORTFOLIO SIDE START */
.casestudies {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 800px; 
  margin: 0 auto;
}

.casestudies h1 {
  margin-top: 105px;
}

.casestudies hr {
  margin-bottom: 35px;
  width: 100%;
  border: 1px solid darkorange;
}

.caseStudy {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  background-color: #ff4d4d;
  overflow: hidden;
}

.caseStudy:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.caseInfo {
  padding: 35px;
  width: 50%;
}

.caseInfo p {
  margin-bottom: 20px;
  color: white;
}

.caseInfo span {
  font-weight: bold;
}

.caseImg {
  width: 50%;
}

.caseImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.migFep {
  background-image: url(../img/migFep.png);
  border-radius: 200px;
  height: 400px;
  width: 400px;
  background-size: cover;
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
  margin-top: 75px;
}

.migFep::before {
  content: ""; 
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.migFep p {
  z-index: 2;
}
/* PORTFOLIO SIDE SLUT */

/* FOOTER START */
footer {
  background-color: darkorange;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px; 
  margin-top: 75px;
}

.footer-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  max-width: 50ch;
  padding-left: 50px;
  padding-right: 50px;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section ul li:hover {
  transform: scale(1.2);
}

.email a,
.phone a{
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: white;
}

.email img,
.phone img {
  width: 24px;
  height: 24px;
}

.email:hover,
.phone:hover {
  transform: scale(1.2);
}

.email {
  margin-bottom: 10px;
}

.footer-section.socials a {
  margin-right: 10px;
}

.footer-section.socials a img {
  width: 34px;
  height: 34px;
}

.footer-section.socials a img:hover {
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  font-size: 0.8em;
  border-top: 1px solid orange;
}

.footer-bottom p {
  margin: 0;
}
/* FOOTER SLUT */